.landing-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	font-family: sans-serif;
	padding: 0 8%;
}

.topbar {
	width: 100%;
	height: 80px;
	/*background-color: rgb(var(--bg));*/
	/*background-color: red;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.topbar-logo {
	font-size: 1.1rem;
	font-family: Oswald;
	color: rgb(var(--primary));
}

.topbar-cnt {
	display: flex;
	align-items: center;
	font-size: .66rem;
	font-weight: 600;
	color: rgb(100, 100, 100);
	gap: 32px;
}

.topbar-cnt > span {
	cursor: pointer;
}

.topbar-btn {
	display: flex;
	align-items: center;
	gap: 16px;
}

.topbar-btn > button {
	font-size: .68rem;
	font-weight: 600;
	padding: 10px 26px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.topbar-btn > button:first-child {
	background-color: rgb(var(--primary));
	color: white;
}

.topbar-btn > button:last-child {
	color: rgb(var(--primary));
	background-color: white;
	box-shadow: 0 0 2px rgb(0, 0, 0, .2);
}

.landing-page-cnt {
	width: 100%;
	height: calc(100% - 80px);
	position: relative;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;

}

.cnt-hdr {
	font-size: 2.8rem;
	font-family: Oswald;
	width: 50%;
	text-align: center;
}

.cnt-txt {
	font-size: .66rem;
	width: 45%;
	color: rgb(60, 60, 60);
	font-weight: 500;
	text-align: center;
}

.animation-cnt {
	width: 100%;
	height: 55%;
	/*background-color: gray;*/
	position: absolute;
	bottom: 24px;
}

.animation-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
}

.animation-bg > div {
	width: 50%;
	height: 100%;
}

.animation-bg > div:first-child {
	border-bottom-left-radius: 100%;
	background-color: rgb(var(--primary));
}

.animation-bg > div:last-child {
	height: 80%;
	border-bottom-right-radius: 100%;
	background-color: rgb(0, 160, 250, .6);
}

.animated-chats {
	position: absolute;
	z-index: 1;
	left: -2%;
	top: -8%;
	display: flex;
	flex-direction: column;
	width: 220px;
	gap: 4px;
}

.animated-chats > div {
	width: 120px;
	background-color: white;
	font-size: .62rem;
	font-weight: 600;
	padding: 6px 4px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px rgb(0, 0, 0, .4);
}

.from {
	align-self: flex-end;
}